body{
	background-color:#00BFFF;
	font-family: Arial;
}
.topnav{
	background-color: white;
	height:50px;
	margin: -8px;
}
.topnav a{
	font-weight: normal;
	height: 100%;
	outline: none;
	text-decoration: none;
	color: black;
	padding: 13px 30px;
	font-size: 20px;
	line-height: 50px;
	margin: 0px -5px 0px 0px;
}
.topnav a.active{
	background-color: #00BFFF;
}
#chalbox{
	background-color: white;
	position: relative;
	top:7px;
	left:255px;
	width: 158px;
	display: none;
}
#chalbox div{
	width: 158px;
	height: 28px;
	text-align: center;
	line-height: 28px;
}
.inchal:hover , .on:hover{
	background-color: #00BFFF;
	cursor: pointer;
}
.ex{
	margin: 18px 2px 0px 2px;
	padding: 0px 15px 0px 15px;
	background-color: white;
	white-space: pre-wrap;
}
.ex h1, .ex h2, .ex h3, .ex h4, .ex h5, .ex h6, .ex p{
	margin: -10px -10px -10px 10px;
}